<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://serversideprogrammingassignment20221002214655.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d16edfb1-dea9-4147-b63f-1e32ce5513e8/resourcegroups/ServerSideProgrammingAssignment20221002214655ResourceGroup/providers/Microsoft.Web/sites/ServerSideProgrammingAssignment20221002214655</ResourceId>
    <UserName>$ServerSideProgrammingAssignment20221002214655</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://serversideprogrammingassignment20221002214655.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>